<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <header>
 <% if logged_in? %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Sign Out">
  </form>
    <h3>Welcome <%= current_user.username %>!</h3>
    <a href="<%= user_url(current_user) %>">Profile</a>
    <a href="<%= subs_url %>">Home</a>
  <% end %>
  </header>
  <body>
  
  <%= flash[:errors].join(', ') if flash[:errors] %>
    <%= yield %>
  </body>
</html>
